html {
    scroll-behavior: smooth;  /* smooth scrolling */
}

html, body {
  height: 100%;
  width: 100%;
}


/* Fixed Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999; /* navbar stays on top */
    padding: 0 20px;
}

.nav-link {
    color: #CC9966;
    font-size:x-large;
    width: 100px;
    text-decoration: none;   /* remove default underline */
}

.nav-link:hover {
    text-decoration: underline;
}

/* Sections */
.container {
    display:grid;
    grid-template-rows: repeat(4, 100vh); /* full screen rows */
}

.tab {
    display:flex;
}

/* Info section */
.intro {
    position: relative;
    background-image: url('img/sl-cafe-bg-01.jpg');
    display: flex;
    flex-direction: column;      /* stack divs vertically */
    align-items: center;         /* center divs horizontally */
    justify-content: center;
    gap: 1em;
}

.intro > div {
    background: rgba(0, 0, 0, 0.7);
    width: 40%; 
    height: auto;                /* adjusts height based on text */
    padding: 1em;                /* spacing inside the div */
    display: inline-block;       /* shrink-to-fit behavior */
    text-align: center;          /* center text inside each div */
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
}

h2 {
    color: #CC9966;
    font-size: x-large;
    text-align: center;
}

p {
    font-size: x-large;
    color: #fff;
}

/* Menu Section */
.menu {
    background-image: url('img/sl-cafe-bg-02.jpg');
}

.about {
    background-image: url('img/sl-cafe-bg-03.jpg');
}

/* Contact Section */
.contact {
    position: relative; /* Make footer absolute relative to Contact section */
    background-image: url('img/sl-cafe-bg-04.jpg');
    background-size: cover;
}

.footer {
    position: absolute; /* position relative to .contact */
    bottom: 0;          /* stick to bottom */
    left: 0;
    width: 100%;        /* full width */
    text-align: center; /* horizontally center the text */
    font-size: large;
    color: #fff;
}