html {
    scroll-behavior: smooth;  /* smooth scrolling */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* includes padding in width */
}

body {
    font-family: Georgia;
    text-align: left;
    font-size: large;
}

/* Fixed Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 2em;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999; /* navbar stays on top */
}

.nav-link {
    color: #CC9966;
    font-size:x-large;
    font-weight: bold;
    width: 100px;
    text-decoration: none;   /* remove default underline */
}

.nav-link:hover {
    text-decoration: underline;
}

/* General fix for all sections */
.intro, .menu, .about, .contact {
    min-height: 100vh;               /* full viewport height */
    width: 100%;
    background-size: cover;           /* cover the section */
    background-position: center;      /* center image */
    background-repeat: no-repeat;     /* no repeat */
    justify-content: center;          /* vertically center content */
    align-items: center;              /* horizontally center content */
}

/* Info section */
.intro {
    /* position: relative; */
    background-image: url('img/sl-cafe-bg-01.jpg');
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.intro > div {
    background: rgba(0, 0, 0, 0.7);
    width: 40%; 
    height: auto;                /* adjusts height based on text */
    padding: 1em;                /* spacing inside the div */
    text-align: center;          /* center text inside each div */
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #CC9966;
    font-size: x-large;
    text-align: center;
}

p {
    font-size: large;
    color: #fff;
}

/* Menu Section */
.menu {
    background-image: url('img/sl-cafe-bg-02.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    grid-template-rows: auto auto;  /* first row auto for header, second for items */
    padding-top: 90px;
    grid-gap :1em;
}

.menu-items {
    height: max-content;
}

/* make header span both columns */
.menu .header {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;       /* spans both columns */
    width: 30%;
    height: 100%;
    background: #fff !important;
}

.menu .header h2 {
    color: black;
}

.menu > div {
    background: #544639;
    width: 60%;   /* fills grid column */
    font-size: larger;
    justify-self: center;
    color: #fff;
    padding: 5px;
}

/* About Section */
.about {
    background-image: url('img/sl-cafe-bg-03.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr; /* 50% / 50% */
}

.about > div {
    grid-column: 2;   /* move content to second half */
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 60%;   /* fills grid column */
    font-size: large;
    justify-self: center;
    align-self: center;
    border-radius: 2em;
    padding: 2em;
}

/* Contact Section */
.contact {
    padding-top: 120px;
    background-image: url('img/sl-cafe-bg-04.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    grid-template-rows: auto auto; 
}

.contact > div {
    width: 70%;   /* fills grid column */
    font-size: larger;
    justify-self: center;
    margin: 0;
    min-height: 60%;
    border-radius: 2em;
    padding: 3em;
}

.contact-items > p, h3 {
    color: rgba(0, 0, 0, 0.7) !important;
}

#email-form {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#contact-us {
    background: rgba(254, 254, 254, 0.7);
}

input, textarea {
    border: none;                 /* remove all borders */
    border-bottom: 2px solid #CC9966;  /* keep only bottom border */
    outline: none;                /* remove blue outline */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #CC9966;
}

input {
    height: 50px;
}

textarea {
    height: 150px;
}

button {
    border: 2px solid #CC9966;
    background: #CC9966;
}

.footer {
    grid-column: 1 / span 2;       /* spans both columns */
    width: 100%;        /* full width */
    display: flex;
    justify-content: center;
    font-size: large;
    color: #fff;
}